<%- include('../partials/head') %>
<div class="container">
  <%- include('../partials/menu', {ativoMenu, user}) %>
  <%-include('../partials/header', { user }) %>

  <div class="body">
    <div class="area-erro">
      <% if (mensagem !== "") { %>
      <div class="mensagem-<%=typeError%>"><%=mensagem%></div>
      <% } %>
    </div>

    <div class="container-body">
      <div class="search">
        <form action="/pesquisa/funcionario" method="post">
          <input type="search" placeholder="Pesquisar" name="searchTerm" />
          <button type="submit" class="btn-search">
            <i class="ph-magnifying-glass-bold"></i>
          </button>
        </form>
      </div>

      <% if (funcionarios.funcionario && funcionarios.pageCount) { %>
        <div class="data-produto">
          <div class="area-table">
            <%-include('../partials/tabelaFuncionarios', {funcionarios: funcionarios.funcionario, pageCount: funcionarios.pageCount})%> 
            <%-include('../partials/modal') %>
              <div class="area-pagination">
                <% for( let i = 0; i < funcionarios.pageCount; i++ ) { %>
                  <a class="<%=  i === funcionarios.currentPage ? 'ativo' : '' %>" href="http://localhost:3000/funcionarios?page=<%=i%>"><%=i+1%></a>
                <% } %>
              </div>
          </div>
        </div>
      <% } else { %>
        <div class="data-produto">
          <%-include('../partials/tabelaFuncionarios', {funcionarios})
          %> <%-include('../partials/modal') %>
        </div>
      <% } %>
      
    </div>
  </div>
</div>
<%- include('../partials/footer') %>
