<%- include('../partials/head') %>
<div class="container">
  <%- include('../partials/menu', {ativoMenu, user}) %>
  <%-include('../partials/header', { user }) %>

  <div class="body">
    <div class="area-erro">
      <% if (mensagem !== "") { %>
      <div class="mensagem-<%=typeError%>"><%=mensagem%></div>
      <% } %>
    </div>

    <div class="container-body">
      <div class="search">
        <form action="/pesquisa/pruduto" method="post">
          <input type="search" placeholder="Pesquisar" name="searchTerm" />
          <button type="submit" class="btn-search">
            <i class="ph-magnifying-glass-bold"></i>
          </button>
        </form>
      </div>

      <%if (produto) { %>
      <div class="data-produto">
        <%-include('../partials/tabelaProdutos', {produto}) %>
        <%-include('../partials/modal') %>
      </div>
      <% } else { %>
      <div class="data-produto">
        <%-include('../partials/tabelaProdutos', {produto})%>
        <%-include('../partials/modal') %>
      </div>
      <% } %>
    </div>
  </div>
</div>
<%- include('../partials/footer') %>
