<%- include('../partials/head') %>
<div class="container">
  <main>
    <h3><%= title %></h3>

    <% if (mensagem !== "") { %>
    <div class="mensagem-<%=typeError%>"><%=mensagem%></div>
    <% } %>

    <form action="/<%=type%>" method="post">
      <label for="cpf">CPF</label>
      <input type="text" name="cpf" id="cpf" />
      <label for="senha">Senha</label>
      <input type="password" name="senha" id="senha" />
      <button type="submit"><%= textButton %></button>
    </form>
  </main>
</div>
<%- include('../partials/footer') %>
