<%- include('../partials/head') %>
<div class="container">
  <%- include('../partials/menu', {ativoMenu, user}) %>
  <%-include('../partials/header', { user }) %>

  <div class="body">
    <div class="area-form">
      <div class="area-erro">
        <% if (mensagem !== "") { %>
        <div class="mensagem-<%=typeError%>"><%=mensagem%></div>
        <% } %>
      </div>
      <form action="/registrar-funcionario" method="post">
        <label for="nome">Nome:</label>
        <input type="text" name="nome" id="nome" />

        <label for="cpf">CPF:</label>
        <input type="text" name="cpf" id="cpf" />

        <label for="telefone">Telefone:</label>
        <input type="text" name="telefone" id="telefone" />

        <label for="cargo">Cargo:</label>
        <input type="text" name="cargo" id="cargo" />

        <label for="senha">Senha:</label>
        <input type="text" name="senha" id="senha" />

        <div class="area-button">
          <button type="submit" class="btn-salvar">Salvar</button>
          <button type="submit" class="btn-cancelar">Cancelar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<%- include('../partials/footer') %>
