<% if (produtos.length && !produtos.length || produtos === null) { %>
<h1>Não tem produtos reguistrados.</h1>
<% } else { %>
<table>
  <tr>
    <th>ID</th>
    <th>Nome</th>
    <th>Preço</th>
    <th>Quantidade</th>
    <th>lote</th>
    <th>Tamanho</th>
    <th>Ação</th>
  </tr>
  <% produtos.forEach(data => { %>
  <tr>
    <td><%= data.id %></td>
    <td><%= data.nome %></td>
    <td><%= data.preco %></td>
    <td><%= data.quantidade %></td>
    <td><%= data.lote %></td>
    <td><%= data.tamanho %></td>
    <td class="area-acao-button">
      <button class="btn-venda" data-key="<%=data.id%>">Venda</button>
    </td>
  </tr>
  <% }) %>
</table>
<% } %>
